[submodule "vendor/entt"]
	path = vendor/entt
	url = https://github.com/skypjack/entt
[submodule "vendor/sfml"]
	path = vendor/sfml
	url = https://github.com/SFML/SFML.git
[submodule "vendor/gsl"]
	path = vendor/gsl
	url = https://github.com/microsoft/GSL.git
